.products-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  height: 100%;
  overflow-y: scroll;
}

// .products-header-tools {
//   input {
//     width: 350px;
//       height: 50px;
//       background: #fff;
//       padding-left: 6px;
//       border-radius: 4px;
//       font-size: 18px;
//       border: 2px #ececec solid;
//       background-image: url(/src/img/bt-mag-glass.png);
//       background-repeat: no-repeat;
//       background-position: 96% center;
//       margin-right: 20px;
//       float: right;
//   }
//
//     display: flex;
//     justify-content: flex-end;
//
//     .header-tools-wraper {
//       position: relative;
//     float: right;
//     width: 100%;
//     padding-left: 20px;
//     padding-right: 20px;
//     box-sizing: border-box;
//     }
// }

.products .product-card:first-child,
.products .product-card:nth-child(2) {
  flex: 2 46%;
}

@media (max-width: 920px) {
  .product-card {
    flex-grow: 1;
    flex-basis: 21%;
  }
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
    width: 50%;
  }
}
